body {
    padding-top: 0;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    margin-top:20px;
  }
  
  .chatMsg {
    position:fixed;
    top: 70px; 
    left: 0;
    right: 0;
    bottom:70px;
    padding: 15px;
    overflow-y:scroll; 
    float: none; 
  }
  
  .chat {
    list-style: none;
    margin: 0;
  }
  
  .chatBdy {
    padding-bottom: 20px;
  }

  .chat li.left .chat-body {
    background-color: #fff;
  }
  
  .chat li .chat-body {
    position: relative;
    font-size: 20px;
    padding: 10px;
    border: 3px solid #d2e3ff;
  }
  
  .chat li .chat-body .header {
    padding-bottom: 5px;
    border-bottom: 1px solid #f1f5fc;
  }
  
  .chat li .chat-body p {
    margin: 0;
  }
  
  .chat li.left .chat-body:before {
    position: absolute;
    top: 10px;
    left: -8px;
    display: inline-block;
    background: #fff;
    width: 16px;
    height: 16px;
    border-top: 1px solid #f1f5fc;
    border-left: 1px solid #f1f5fc;
    content: '';
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }
  
  .chat li {
    margin: 15px 0;
  }
  
  .chatBX {
    position:fixed; 
    bottom: 0; 
    left: 20px;
    right: 20px;
    padding: 15px;
    border-top: 1px solid #eee;
  }
  
  .btn-success {
    background-color: #276FBF;
  }
  
  .btn-success:hover {
    background-color: blue;
  }
